@import '~bootstrap/scss/bootstrap';

$black: #000;
$chalk-white: #e0dbd1;
$grey: #2e2e2e;
$white: #fff;

body {
  background-color: $grey;
  font-family: 'Permanent Marker', serif;
}

h1 {
  color: $chalk-white;
  font-size: 60px;
  margin: 30px;
  text-align: center;
}

.game {
  height: 100%;
  padding-left: 40px;
  width: 50%;
}

.cell {
  align-items: center;
  border: 6px solid $chalk-white;
  color: $chalk-white;
  display: flex;
  font-size: 60px;
  height: 150px;
  justify-content: center;
}
